<?xml version="1.0"?>
<config>
    <modules>
        <Namespace_Products>
            <version>1.0</version>
        </Namespace_Products>
    </modules>
    <frontend>
       <routers>
          <routeurfrontend>
              <use>standard</use>
              <args>
                 <module>Namespace_Products</module>
                 <frontName>upgrade</frontName>
              </args>
           </routeurfrontend>
       </routers>
       <layout>
         <updates>
              <Upgradeableproducts>
                 <file>Products.xml</file>
              </Upgradeableproducts>
          </updates>
      </layout>
    </frontend>
    <global>
      <blocks>
         <Upgradeableproducts>
              <class>Namespace_Products_Block</class>
         </Upgradeableproducts>
      </blocks>
    </global>
</config>